<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base.html</title>
</head>
<body>

<!-- Admin page uchun table -->
<table border="1" align="right ">
    <tr bgcolor="##00ff00">
        <td align="center">
            <header>
            <a href="{% url 'admin' %}" > Admin </a>
            </header>
        </td>
        </tr>

<!-- Menu panel uchun table -->
<table border="0" cellspacing="10" align="center">
    <tr bgcolor="white">
        <td align="center">
        
        <header> 
            <b>
            <a href= "{% url 'home' %}" > Home Page </a>
        </td>

        <td>
            <b>
            <a href="{% url 'about' %}" > More about site </a>
        </td>

        <td>
            <b>
            <a href="{% url 'news' %}" > News </a>
        </td>

        <td>
            <b>
            <a href="{% url 'images' %}" > Images </a>
        </td>
        </header>
    </tr>
</table>

{% block content %}
{% endblock content%}

</body>
</html>