{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
</head>
<body>

<!-- Admin page uchun table -->
<table border="1" align="right ">
    <tr bgcolor="##00ff00">
        <td align="center">
            <header>
            <a href="{% url 'admin' %}" > Admin </a>
            </header>
        </td>
        </tr>

<!-- Menu panel uchun table -->
<table border="0" cellspacing="10" align="center">
    <tr bgcolor="">
        <td align="center">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <header><h3><a href= "{% url 'home' %}" > Home Page </a></h3></header>
        </td>
        <td>
            <header><h3><a href="{% url 'about' %}" > More about site </a></h3></header>
        </td>
        <td>
            <header><h3><a href="{% url 'news' %}" > News </a></h3></header>
        </td>

        <td>
            <header><h3><a href="{% url 'images' %}" > Images </a></h3></header>
        </td>
        <td>
            <header><h3><a href="{% url 'postdetail' %}" > Blog Post </a></h3></header>
        </td>
        <td>
            <header><h3><a href="{% url 'table' %}" > Uy vazifa table </a></h3></header>
        </td>
    </tr>
</table>

{% block content %}
{% endblock content%}

</body>
</html>